.container {
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-color: #fff;
  align-content: center;
  margin-top: 30px;
}

.header {
  margin: 20px 0;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.details > * {
  padding: 10px 0;
}

.even {
  background-color: #e2e3e5;
}

.flex1 {
  flex: 1;
}

.btn {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.btn_end_5 {
  display: flex;
  justify-content: end;
  padding: 0 5%;
}

.btn_start {
  display: flex;
  justify-content: start;
  padding: 0 5%;
}

.btn_color {
  background: #95c010;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  border-radius: 10%;
}

@media (min-width: 800px) {
  .card_container {
    flex-direction: row;
  }

  .btn {
    margin-top: 10px;
    display: block;
  }
}
