.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.success {
  background: rgb(27, 218, 27);
  color: green;
  padding: 10px 0;
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.fadeOut {
  animation: fadeIn 0.5s;
}

