.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: absolute;
}

.logo {
  height: 5rem;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 10;
  margin-right: 1rem;
}

.menuIconLines,
.menuIconCross {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: ease-out 0.6s;
}

.menuIconCross {
  height: 4px;
  background-color: black;
  width: 30px;
}

.firstBar {
  transform: rotate(135deg);
  top: 25px;
  position: absolute;
  width: 30px;
}

.secondBar {
  transform: rotate(45deg);
  top: 25px;
  position: absolute;
  width: 30px;
}

.menuItems {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.open {
  left: 0;
}

.link {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
}

@media screen and (min-width: 800px) {
  .menuIcon {
    display: none;
  }

  .nav {
    justify-content: flex-start;
    padding: 0 2rem;
  }

  .logo {
    margin: 50px 0;
  }

  .menuItems {
    height: 100vh;
    width: 20vw;
    left: 0;
    justify-content: flex-start;
    transition: none;
    background-color: white;
    box-shadow: 4px 1px 50px lightgray;
  }

  .link {
    width: 100%;
    padding: 10px 0;
  }
}

@media only screen and (orientation: landscape) {
  .link {
    margin-top: 0;
  }
}
